.modal {
	position: fixed;
	padding: 1rem;
	border-radius: 14px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	background-color: white;
	border-width: 0;
	padding: 0;
	min-width: max(50%, 350px);
	max-height: 80%;
	max-width: 600px;
}
.modal::backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(1px);
	animation: none;
}
.modal__container {
	padding: 1rem;
}
